*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 23%);
}
body{
    display: grid;
    justify-content: center;
    background-color: hsl(120, 17%, 83%);
}
svg{
width:2vw;
height: auto;
min-width: 20px;
fill: #FBFCFC;
}